/* CSS declarations go here */
.action-link {
	margin: 5px;
}

ul {
	list-style-type: none;
}

li > label > input {
	margin-right: 5px !important;
}

.item-list {
	padding-left: 10px;
}

.item-list li {
	border-bottom: 1px solid #ccc;
	position: relative;
}

.item-list li.animate {
	transition: all 300ms 0ms ease-in;
}

.item-list li:last-of-type {
	border-bottom: none;
}

.item-list input[type=text] {
	border: none;
}
