/* CSS declarations go here */
h2 {
	margin-top: 0;
}

.action-link {
	margin: 5px;
}

ul {
	list-style-type: none;
}

li > label > input {
	margin-right: 5px !important;
}

.item-list {
	padding: 0 5px 0 5px;
}

.item-list li {
	border-bottom: 1px solid #ccc;
	position: relative;
}

.item-list .done {
	text-decoration: line-through;
}

.item-list li.animate {
	transition: all 300ms 0ms ease-in;
}

.item-list li:last-of-type {
	border-bottom: none;
}

.item-list label {
	margin: 2.5px 0 2.5px 0;
	font-size: 26px;
	font-weight: normal;
}

.item-list input[type=checkbox] {
	position: relative;
	top: -3px;
}

.amount {
	padding-left: 7px !important;
	padding-right: 7px !important;
}