<template name='listDetail'>
    <form>
        <div class='form-group form-group-lg'>
            <input placeholder='+ add item' class='form-control typeahead'
             type='text' name='itemTypes' data-source='itemTypes' data-select='selected'
             autocomplete='off' spellcheck='off' />
        </div>
    </form>

    <ul class='item-list'>
        {{#each itemsSorted}}
            {{> itemDetail}}
        {{/each}}
    </ul>

    {{#if canShareList}}
        {{#linkTo class='action-link' route='shareList' data=list}}
            share with others
        {{/linkTo}}
    {{/if}}

    <a class='action-link completed-toggle' href='#'>{{#if showCompletedItems}}hide{{else}}show{{/if}} completed</a>
</template>