<template name='listDetail'>
    <h2>
        {{list.name}}
    </h2>

    <ul class='item-list'>
        {{#each itemsSorted}}
            {{> itemDetail}}
        {{/each}}
    </ul>

    <form>
        <input placeholder='+ add item' class='form-control typeahead' type='text' name='item' data-source='items' autocomplete='off' spellcheck='off' />
    </form>

    {{#if canShareList}}
        {{#linkTo class='action-link' route='shareList' data=list}}
            share with others
        {{/linkTo}}
    {{/if}}

    <a class='action-link completed-toggle' href='#'>{{#if showCompletedItems}}hide{{else}}show{{/if}} completed</a>
</template>