<template name='listDetail'>
    <h2>
        {{list.name}}
    </h2>

    <ul class='item-list'>
        {{#each itemsSorted}}
            {{> itemDetail}}
        {{/each}}
        <li>
            <form>
                <input placeholder='+ add item' class='form-control typeahead' type='text' name='item' data-source='items' autocomplete='off' spellcheck='off' />
            </form>
        </li>
    </ul>

    <p>{{currentPositionString}}</p>

    {{#if canShareList}}
        {{#linkTo class='action-link' route='shareList' data=list}}
            share with others
        {{/linkTo}}
    {{/if}}
</template>