<template name='addItem'>
    <div class='row'>
        <form class='form'>
            
            <div class='form-group col-xs-12'>
                <label for=''>Item</label>
                <input class='form-control input-lg typeahead' type='text' name='item' data-source='items' autocomplete='off' spellcheck='off' />    
            </div>
            
            <div class='col-xs-12'>
                <input type='submit' class='btn btn-lg btn-primary submit' />    
            </div>
            
        </form>    
    </div>
	
</template>